body{  
   margin: 0;
   padding: 0;
   background-color: black;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

header{
   background-color: rgba(50, 241, 241, 0.8);
   width: 100%;
   text-align: center;
   margin: 0;
   padding: 0;
}
main{
   margin-top: 50px;
}


#commencer{
   background-color: rgb(171, 219, 76);
   margin-bottom: 35px;
   width: 175px;
   height: 35px;
   text-align: center;
}

#signe, #n1, #n2{
   width: 50px;
   height:50px;
   text-align: center;
   margin-right: 20px;
   font-size: 1.7em;
   
}
#vrairesulta{
   margin-right: 84px;
   width: 175px;
   height:50px;
   font-size: 1.7em;
   text-align: center;
   background-color: rgb(119, 250, 12);
}

#monresulta{
   width: 175px;
   height:50px;
   font-size: 1.7em;
   text-align: center;

}

#leboutton{
   background-color: rgb(171, 219, 76);
   margin-left: 20px;
   
   width: 65px;
   height: 35px;
   text-align: center;
}

.egal{
   font-size: 1.9em;
   color: white;
   margin-right: 20px;
}


.container3{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.container1{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container2{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
   
@media screen and (max-width: 540px){

   .container3{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
   }
   .container2{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
         }

#leboutton{
   margin-left: 0;
   margin-right: 18px;
   margin-top: 30px;
   text-align: center;
}
#commencer {
   background-color: rgb(171, 219, 76);
   margin-bottom: 35px;
   width: 175px;
   height: 35px;
   text-align: center;
   margin-left: 18px;
}
#monresulta {
   width: 175px;
   height: 50px;
   font-size: 1.7em;
   text-align: center;
   margin-right: 18px;
}
#vrairesulta {
   margin-right: 20px;
   width: 175px;
   height: 50px;
   font-size: 1.7em;
   text-align: center;
   background-color: rgb(119, 250, 12);
   margin-bottom: 30px;
}
}