body{  
   margin: 0;
   padding: 0;
   background-color: black;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

header{
   background-color: rgb(6, 141, 141);
   width: 100%;
   height: 80px;
   text-align: center;
   margin: 0;
   padding: 0;
}

h1{
   color: rgb(255, 255, 255);
   font-family: Arial, Helvetica, sans-serif;
   margin-right: 50px;
   width: 100%;
   height: 30px;
   text-align: center;
   
}

.containerheadeur{
   borde: solid black;
   display: flex;
   justify-content: left;
align-items: center;
   
}


main{
   margin-top: 50px;
}
.containairebardemenu{
   width: 36px;
   height: 30px;
   margin-top: 7px;
   border  solid black;
   display: flex;
   justify-content:space-around;
   align-items: center;
   flex-direction: column;
   margin-left: 15px;
z-index: 1;

}
.divduboutoncacher{
   display: flex;
   justify-content: center;
   margin-bottom: 0px;
   margin-top: 0px;
}

.bar1, .bar2, .bar3{
   width: 30px;
   height: 4px;
   border-radius: 8em;
   background-color: aliceblue;
   
}

#boutoncacher{
   width: 250px;
   height: 27px;
   margin-bottom: 20px;
   background-color: rgba(162, 198, 230,0.7);
   border-radius: 2em;
   color: white;
   font-size: large;
   font-family: Arial, Helvetica, sans-serif;
}

#commencer{
   background-color: rgb(6, 141, 141);
   margin-bottom: 35px;
   width: 175px;
   height: 35px;
   text-align: center;
   border-radius: 7em;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   font-size: large;
}

#signe, #n1, #n2{
   width: 50px;
   height:50px;
   text-align: center;
   margin-right: 20px;
   font-size: 1.7em;
   border-radius: 7%;
}
#vrairesulta{
   margin-right: 84px;
   width: 175px;
   height:50px;
   font-size: 1.7em;
   text-align: center;
   background-color: rgb(119, 250, 12);
   border-radius: 7em;
}

#monresulta{
   width: 175px;
   height:50px;
   font-size: 1.7em;
   text-align: center;
border-radius: 7em;
}



.egal{
   font-size: 1.9em;
   color: white;
   margin-right: 20px;
}

#b1,#b2,#b3,#b4,#bz{
width: 45px;
height: 45px;
background-color: rgb(6, 141, 141);
font-size: large;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin-right: 7px;
margin-bottom: 20px;
border-radius: 10%;
}

#b6,#b7,#b8,#b9,#b5{
   width: 45px;
   height: 45px;
   background-color: rgb(6, 141, 141);
   font-size: large;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
margin-right: 11px;
margin-bottom: 20px;
border-radius: 10%;
   }
   #effacer,#suivant{
      width: 85px;
   height: 35px;
   background-color: rgb(6, 141, 141);
   font-size: large;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   margin-right: 20px;
   border-radius: 10%;
}
.suiteffacebouton{
   display: flex;
   justify-content: center;
}

.container3{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.container1{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container2{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.container5bouton2{
   display: flex;
   justify-content: center;
}

.divduboutoncacher{
   display: flex;
   justify-content: center;
   margin-bottom: 0px;
   margin-top: 0px;
}

.container1mode{
  /* background-color: rgba(97, 73, 206,0.7);*/
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.containerbouton1{
   margin-top: 20px;
   margin-right: 10px;
   margin-bottom: 20px;
  
}
   
@media screen and (max-width: 662px){

   main{
      margin-top: 20px;
   }

   header{
      background-color: rgb(6, 141, 141);
      width: 100%;
      height: 80px;
      text-align: center;
      margin: 0;
      padding: 0;
   }

   



   .container3{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
   }
   .container2{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
         }

         .container1{
            margin-left: 10px;
            display: flex;
            
            align-items: center;
            justify-content: center;
               }         


#commencer {
   background-color: rgb(6, 141, 141);
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   color: white;
   margin-bottom: 35px;
   width: 175px;
   height: 35px;
   text-align: center;
   margin-right: 20px;
}
#monresulta {
   width: 175px;
   height: 50px;
   font-size: 1.7em;
   text-align: center;
   margin-right: 18px;
}
#vrairesulta {
   margin-right: 20px;
   width: 175px;
   height: 50px;
   font-size: 1.7em;
   text-align: center;
   background-color: rgb(119, 250, 12);
   margin-bottom: 30px;
}
}
@media screen and (max-width: 310px){
   .containairebardemenu{
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   margin-left: 5px;
   z-index: 1;
   
   }
}